@use "../abstracts/theme-variables" as *;
@use "../components/buttons" as buttons;

.navbar {
  z-index: 1000;
  position: sticky;
  top: 0;
  background: var(--navbar-bg);
  border-bottom: solid 1px rgb(var(--border-color));
  backdrop-filter: blur(8px);
}

.navbar.private {
  border-bottom: none;

  .navbar-logo {
    .text {
      color: white;
    }

    .role-badge {
      color: var(--hero-text-color);
      background-color: var(--nav-link-bg);
      font-size: 0.7rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      padding: 0.25rem 0.5rem;
      border-radius: 10rem;
      margin-top: 4px;
    }
  }
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 95rem;
  margin: auto;
  padding: 1rem 3rem;
}

@media (max-width: 480px) {
  .navbar-container {
    padding: 1rem;

    .navbar-logo {
      .role-badge {
        display: none;
      }
    }
  }
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  .icon {
    display: flex;
    padding: 7px;
    background-color: rgb(var(--primary));
    color: white;
    border-radius: 0.5rem;
    font-size: 1.25rem;
  }

  .text {
    color: rgb(var(--primary-text));
    font-size: 1.25rem;
    font-weight: 700;
  }
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-links {
  display: flex;
  font-weight: 500;

  button {
    @include buttons.text-btn(
      rgba(255, 255, 255, 0.55),
      rgb(255, 255, 255),
      0.08,
      0.12
    );
    transition: all 0.2s ease-in-out;

    &:not(:last-child) {
      margin-right: 0.2rem;
    }
  }

  button.selected {
    @include buttons.outlined-btn(
      rgb(var(--primary)),
      white,
      var(--nav-link-bg)
    );
  }
}

@media (max-width: 950px) {
  .nav-links {
    display: none;
  }
}

.navbar-actions {
  display: flex;
  gap: 0.5rem;
}

.toggle-drawer-btn {
  display: none !important;
  @include buttons.outlined-btn(
    rgba(255, 255, 255, 0.12),
    white,
    rgba(255, 255, 255, 0.08),
    0.12,
    0.22
  );
}

.mobile-menu {
  display: none;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  border-top: solid 1px rgba(255, 255, 255, 0.12);
  transition: all 0.3s ease;

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    transform: translateY(-15px);
    transition: all 0.3s ease;

    button {
      text-align: left;
    }
  }
}

@media (max-width: 950px) {
  .nav-links {
    display: none;
  }

  .toggle-drawer-btn {
    display: block !important;
  }

  .mobile-menu.open {
    display: block;
    max-height: fit-content;
    opacity: 1;
    padding: 1rem 2rem;

    .nav-links {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
