.browse-doctors-page-content {
  padding: 2rem 3rem;

  .header {
    margin-bottom: 2rem;

    .title {
      color: rgb(var(--primary-text));
      font-size: 1.875rem;
      font-weight: 700;
    }

    .subtitle {
      color: rgb(var(--secondary-text));
      margin-bottom: 1rem;
    }

    .search-bar {
      padding: 0.5rem 1rem;
      border-radius: 0.85rem;
    }
  }

  .doctors-list-container {
    .doctors-list {
      margin-bottom: 2rem;

      > :not(:last-child) {
        margin-bottom: 1rem;
      }

      .doctor-card {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        border: 1px solid rgb(var(--border-color));
        border-radius: 1rem;
        transition: all 0.2s ease;

        &:hover {
          border-color: rgb(var(--border-hover));
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        }

        img {
          width: 8rem;
          height: 8rem;
          object-fit: cover;
          border-radius: 0.85rem;
        }

        .info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: -webkit-fill-available;

          .name {
            color: rgb(var(--primary-text));
            text-transform: capitalize;
          }

          .degree {
            color: rgb(var(--secondary-text));
            font-size: 0.85rem;
          }

          .description {
            margin-top: 2rem;
            color: rgb(var(--secondary-text));
          }
        }

        .book-btn {
          margin-left: auto;
        }
      }
    }
  }
}

.book-apointment-modal {
  .intervals-container {
    justify-self: center;

    > :not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

@media (max-width: 768px) {
  .browse-doctors-page-content {
    .doctor-card {
      flex-direction: column;
      align-items: unset !important;

      .book-btn {
        margin-left: 0 !important;
      }
    }
  }
}

@media (max-width: 480px) {
  .browse-doctors-page-content {
    padding: 1rem;
  }
}
