@use "../components/buttons" as buttons;

.patient-dashboard {
  .next-appointment-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(135deg, rgb(239, 246, 255), rgb(219, 234, 254));
    padding: 1rem 1.5rem;
    border: 1px solid rgb(var(--border-hover) / 0.12);
    border-radius: 1rem;

    .next-appointment-icon {
      display: flex;
      padding: 0.7rem;
      border-radius: 0.5rem;
      background: rgb(var(--primary) / 0.12);
      color: rgb(var(--primary));

      svg {
        width: 22px;
        height: 22px;
      }
    }

    .next-appointment-content {
      .title {
        color: rgb(var(--primary));
        text-transform: uppercase;
        letter-spacing: 0.04em;
        font-size: 0.7rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }

      .details {
        color: rgb(var(--primary-text));
        font-size: 0.85rem;
        font-weight: 600;

        .date {
          color: rgb(var(--secondary-text));
          font-weight: 400;
        }
      }

      .no-appointments {
        color: rgb(185 185 185);
        font-weight: 600;
        font-style: italic;
      }
    }

    .view-all-link {
      margin-left: auto;
      font-size: 0.85rem;
      font-weight: 600;
      color: rgb(148, 163, 184);
      flex-shrink: 0;
      transition: all 0.3s ease;

      .link-arrow {
        margin-left: 0.25rem;
        transition: all 0.3s ease;
      }

      &:hover {
        color: rgb(var(--primary));

        .link-arrow {
          transform: translateX(3px);
        }
      }
    }
  }

  .xray-upload-container {
    padding: 0 2rem;

    .xray-upload-header {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem 0;
      margin-bottom: 2rem;

      > div {
        width: -webkit-fill-available;
      }

      .icon {
        color: rgb(var(--primary));
        margin: 0.4rem;
      }

      .title {
        color: rgb(var(--primary-text));
        font-weight: 700;
        margin-bottom: 0.2rem;
        display: flex;
        align-items: baseline;
      }

      .badge {
        margin-left: auto;
        color: rgb(6, 182, 212);
        text-transform: uppercase;
        letter-spacing: 0.04em;
        font-size: 0.75rem;
        font-weight: 700;
      }

      .description {
        color: rgb(var(--secondary-text));
        font-size: 0.8rem;
      }
    }

    .xray-upload-zone {
      .ant-upload-drag {
        height: 28rem;
        border-width: 2px;
        border-radius: 1rem;
        cursor: unset;

        &:hover {
          border-color: rgb(var(--border-hover));
        }
      }

      .upload-zone-placeholder {
        > :not(:last-child) {
          margin-bottom: 0.5rem;
        }

        .icon {
          color: rgb(var(--primary));
          font-size: 2rem;
        }

        .title {
          color: rgb(var(--primary-text));
          font-size: 1rem;
          font-weight: 700;
        }

        .subtitle {
          color: rgb(var(--secondary-text));
          font-size: 0.85rem;
        }

        .meta {
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgb(148, 163, 184);
          font-size: 0.75rem;
          font-weight: 500;
          letter-spacing: 0.02rem;
          margin-top: 0.5rem;

          > :not(:last-child) {
            margin-right: 0.5rem;
          }

          .file-type {
            background: rgb(var(--primary) / 0.12);
            color: rgb(var(--secondary-text));
            padding: 0.15rem 0.4rem;
            border-radius: 0.4rem;
          }

          .divider {
            width: 1px;
            height: 0.875rem;
            background-color: rgb(148, 163, 184);
          }
        }
      }

      &.has-file {
        .ant-upload {
          display: block;
          margin-bottom: 1rem;
        }

        .ant-upload-drag-container {
          height: 100%;
          display: block;
          position: relative;
        }

        .ant-image {
          width: 100%;
          height: 100%;
        }

        .ant-image-cover {
          border-radius: 0.8rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 0.8rem;
        }

        .remove-btn {
          position: absolute;
          top: 1rem;
          right: 1rem;
          padding: 0.5rem !important;
          @include buttons.btn(rgb(var(--error)));
        }
      }
    }

    .preview-action-buttons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }

  .recent-analysis-container {
    .recent-analysis-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-bottom: 1rem;

      .text {
        .title {
          color: rgb(var(--primary-text));
          font-weight: 700;
          font-size: 1.25rem;
          margin-bottom: 0.2rem;
        }

        .subtitle {
          color: rgb(var(--secondary-text));
          font-size: 0.85rem;
        }
      }
    }

    .recent-analysis-content {
      .xray-analysis-card {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        border-radius: 0.75rem;
        border: 1px solid transparent;
        transition: all ease 0.3s;
        cursor: pointer;

        &:hover {
          border-color: rgb(var(--primary));
          transform: translateX(2px);

          .review-btn {
            color: rgb(var(--primary));
          }
        }

        &.disabled {
          cursor: auto !important;
          opacity: 0.6;

          &:hover {
            transform: none !important;
            border-color: rgb(var(--border-color)) !important;
          }

          .review-btn {
            color: rgb(var(--secondary-text)) !important;
          }
        }

        .img-container {
          width: 5rem;
          height: 5rem;
          flex-shrink: 0;

          img {
            border-radius: 1rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .details-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: -webkit-fill-available;

          .name {
            color: rgb(var(--primary-text));
            font-size: 1.125rem;
            text-transform: capitalize;
          }

          .date {
            color: rgb(var(--secondary-text));
            font-size: 0.9rem;
          }

          .diagnosis {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.4rem;
            color: rgb(var(--primary-text));
            font-size: 0.875rem;
            font-weight: 500;
            margin-top: 1rem;

            svg {
              width: 18px;
              height: 18px;
            }
          }
        }

        .badge {
          font-size: 0.8rem;
          font-weight: 600;
          border: 1px solid;
          border-radius: 1rem;
          padding: 0.3rem 0.65rem;

          &.completed {
            background-color: rgba(0, 128, 0, 0.16);
            color: rgb(var(--success));
          }

          &.pending {
            background-color: rgba(217, 119, 6, 0.24);
            color: rgb(var(--pending));
          }
        }

        .review-btn {
          color: rgb(var(--secondary-text));
          transition: color ease 0.3s;
        }
      }

      .no-recents {
        color: rgb(185 185 185);
        font-weight: 700;
        font-size: 1.15rem;
        font-style: italic;
        text-align: center;
      }
    }
  }

  @media (max-width: 512px) {
    .next-appointment-container {
      padding: 1rem;

      .next-appointment-content {
        .details {
          display: flex;
          flex-direction: column;
          gap: 0.2rem;

          .date {
            display: flex;
            flex-wrap: wrap;
            gap: 0.2rem;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .xray-upload-container {
      padding: 1rem;

      .xray-upload-header {
        gap: 0.5rem;
      }
    }
  }
}
