@use "../abstracts/theme-variables" as *;
@use "../components/buttons" as buttons;

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
}

.container {
  max-width: 95rem;
  margin: auto;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-spin-dot-holder {
  color: rgb(var(--primary)) !important;
}

.search-bar {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 500;

  &:hover {
    border-color: rgb(var(--border-hover));
  }

  &:focus {
    border-color: rgb(var(--border-hover));
  }

  &:focus-within {
    border-color: rgb(var(--border-hover));
  }

  &::placeholder {
    color: rgb(180, 180, 180);
  }
}

.ant-pagination-item-active {
  border-color: rgb(var(--primary)) !important;

  a {
    color: rgb(var(--primary)) !important;
  }
}

.ant-picker-panel-layout {
  .ant-btn {
    @include buttons.btn(rgb(var(--primary)));
    margin: 6px 0;
  }

  .ant-btn[disabled] {
    @include buttons.disabled-btn(rgb(var(--primary)));
  }
}

.avatar {
  background-color: rgb(var(--primary));
}

.no-data {
  color: rgb(185, 185, 185);
  font-weight: 700;
  font-size: 1.15rem;
  font-style: italic;
  text-align: center;
}
